header {
    background-color: #050003;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-icone i {
    /*ícones é estilizado como text*/
    color: #f9f4e3;
    font-size: 40px;
}

.div-titulo h1 {
    /*DEIXA O TEXTO EM CAIXA ALTA*/
    font-size: 25px;
    text-transform: uppercase;
    color: #f9f4e3;
}
.div-lista ul {
    display: flex;
    gap: 15px;
}

.div-lista ul li {
    /*remove "bolinhas" da lista*/
    list-style: none;
}

.div-lista ul li a {
    /*remove o sublinhado*/
    text-decoration: none;
    /*cor da letra*/
    color: #f9f4e3;
}